{% load mytag %}

<div class="col-5 ">
    <div class="card mb-2 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.preview | my_media }}" alt=""/>
            <h5 class="card-title pricing-card-title">Цена:</h5>
            <h6 class="card-title pricing-card-title">{{ object.purchase_price }}</h6>
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_card' object.pk %}">Купить</a>
        </div>
    </div>
</div>